@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e0e0e0; /* Cor de fundo para o body */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container principal */
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 95%;
    max-width: 1100px; /* Aumentei o tamanho máximo do container */
    display: flex;
    justify-content: space-between;
}

/* Área de jogo dividida em duas colunas */
.game-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Estilos da seção superior */
.box {
    width: 40%; /* Ajustei a largura da box */
    text-align: center;
}

#hangman-img {
    width: 80%;
    max-width: 200px;
}

/* Título do jogo */
h2 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

/* Estilos da seção principal */
.box-main {
    width: 55%;
}

/* Lista de letras da palavra */
.mostra-palavras {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.letra {
    font-size: 24px;
    border-bottom: 2px solid #333;
    margin: 0 5px;
    width: 30px;
    height: 40px;
    text-align: center;
}

/* Estilos das dicas e tentativas */
.dica, .tentativas-falhas {
    font-size: 18px;
    margin: 10px 0;
}

/* Teclado */
.teclado {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.linha-teclado {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.tecla {
    background-color: #555; /* Cinza escuro */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 36px;
    height: 36px;
    text-transform: uppercase;
}

.tecla:hover {
    background-color: #666; /* Cor de hover um pouco mais clara */
}

.tecla:disabled {
    background-color: #999; /* Cor para botões desativados */
    cursor: not-allowed;
}